@charset "UTF-8";

body, html {
  height: 100%;
  margin: 0;
}

.bgimg {
  background-image: url("../img/ESL.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  text-shadow: -0.1rem 0 #000, 0 0.1rem #000, 0.1rem 0 #000, 0 -0.1rem #000;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}

.logo {
  border: 0.125rem solid #000;
  border-radius: 0.625rem;
  max-width: 50%;
  height: auto;
}

.box {
  border: 0.125rem solid #000;
  background-color: #2980b9;
  margin: 0.9rem;
}

a:link {
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
}

a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #FCA311;
}

a:active {
  text-decoration: underline;
  font-weight: bold;
  color: #000;
}

footer {
  display: block;
}

.footer p {
  color: #B2B2B2;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
}

.footer a:link {
  text-decoration: none;
  font-weight: bold;
  color: #14213D;
}

.footer a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #14213D;
}

.footer a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #FCA311;
}

.footer a:active {
  text-decoration: underline;
  font-weight: bold;
  color: #000;
}
