html {
  font-size: 16px;
}

body {
  background-color: #FFF;
}

html, body {
  margin: 0;
  padding: 0;
}

#cover {
  background: url("ESL.jpg") no-repeat center bottom;
  background-size: cover;
  background-attachment: fixed;
  height: 60rem;
  position: relative;
  top: -3rem;
  max-width: 100%;
}

.navigation {
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 10000;
}

ul {
  padding: 0;
}

li {
  color: #14213D;
  display: inline-block;
  font-family: "Abel", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin: 1rem 1.25rem;
  text-transform: uppercase;
}

.cover-content {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 17rem;
  max-width: 70%;
  height: auto;
}

.cover-content img {
  border: 0.125rem solid #000;
  border-radius: 0.625rem;
  max-width: 15%;
  height: auto;
}

h1 {
  color: #FFF;
  font-family: "Ruda", sans-serif;
  font-size: 4.5rem;
  line-height: 3.75rem;
  padding: 1.25rem 0.625rem;
  text-align: center;
  text-shadow: -0.1rem 0 #000, 0 0.1rem #000, 0.1rem 0 #000, 0 -0.1rem #000;
}

h2 {
  color: #FFF;
  font-family: "Ruda", sans-serif;
  font-size: 2.75rem;
  font-weight: 300;
  text-align: center;
  text-shadow: -0.1rem 0 #000, 0 0.1rem #000, 0.1rem 0 #000, 0 -0.1rem #000;
}

h3 {
  color: #14213D;
  font-family: "Abel", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  margin: 1rem 0rem 2rem 0rem;
}

h4 {
  color: #FCA311;
  font-family: "Abel", sans-serif;
  font-size: 1.75rem;
  margin: 0rem 0rem 3.125rem 0rem;
}

p {
  color: #333;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.button {
  background-color: #14213D;
  background-image: -webkit-linear-gradient(#FFD194, #BC1324);
  color: #FFF;
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  padding: 0.9rem;
}

.games {
  background: #EEEFF1;
  box-sizing: border-box;
  max-width: 90%;
  height: auto;
  margin: 1.25rem auto;
  padding: 1.25rem 0rem;
  text-align: center;
}

.game {
  display: inline-block;
  margin: 0rem 2% 1rem 2%;
  text-align: center;
  max-width: 35%;
  height: auto;
}

.game img {
  border: 0.125rem solid #000;
  max-width: 100%;
  height: auto;
  display: block;
}

.game iframe {
  border: 0.125rem solid #000;
  max-width: 100%;
  display: block;
}

.blue {
  color: #14213D !important;
}

footer {
  display: block;
}

.footer p {
  color: #B2B2B2;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
}